<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
</head>
<body>
     <p>The current date is: {{.now.Format "2006-01-02"}}</p>
    <p>The full timestamp is: {{.now.Format "2006-01-02 15:04:05"}}</p>
</body>
</html>